<main class="main">
  <article 
    class="img" 
    *ngFor="let image of innerImages"
    [ngClass]="{selected: image.selected}"
    (click)="selectImage(image.url)"
    [style.backgroundImage]="'url('+ image.url +')'"
  ></article>
</main>
