.img {
  background-position: center center;
  background-image: url(https://s3-us-west-2.amazonaws.com/artifactuprising/magento/blog/articles/2016-06-27-black-white-photo/2016-06-27-black-white-photo-01.jpg);
  background-size: cover;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 0;
  border-color: #E03E2F;
  width: 200px;
  height: 200px;
  margin: 0 50px 50px 0;
  cursor: pointer;
}

.img:last-of-type {
  margin-right: auto;
}

.img.selected {
  border-width: 5px;
}

.main {
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2rem 0;
  width: 750px;
}